<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <h1>Trainer Login page </h1><br>

       
            <% if flash.notice %>
            <div class="ui error message">
                <%= flash.notice %>
            </div>
            <% end  %>


        <div class="ui large form">
        <%= form_for @trainer, url: login_path, method: :post,:html => {:class => "ui form error"}  do |f| %>
                <div class="field">
                    <%= f.label :name %>
                    <%= f.text_field :name%><br>
                </div>
                <div class="field">
                    <%= f.label :password %>
                    <%= f.password_field :password %><br>
                </div>
                <div class="ui  large buttons">
                    <%= f.submit "login", class: "ui yellow button" %><br>   
                        <div class="ui secondary button">
                            <%= link_to(controller: 'trainers', action: 'new') { 'sign up' } %>
                        </div>
                    <% end %>
                <button class="ui labeled icon button">
                    <i class="home icon"></i>
                    <%= link_to("Go back to the home page", root_path)%>
                    </button>
                </div>
            </div>
    </body>
</html>

