<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
                <% if flash[:notice] %>
                <div class="ui success message">
                <%= flash[:notice] %>
                </div>
                <% end %>

        <div class="ui heading primary">
                <h1>Welcome To The Pokemon Card Trader!</h1>
                
                    <div id="main_logo">
                        <img src="https://images.pokemontcg.io/base1/symbol.png">
                    </div>
                
                    <div class="welcome_links">
                        <% if session[:user_id]%>
                            <p><%=link_to("Go to your dashboard", trainers_home_path)%></p>
                            <p><%=link_to("See what cards are for trade", trades_path) %></p>
                        <% else %>
                            <p><%= link_to("Go to login page", login_path)%></p>
                        <% end %>
                        <p><%=link_to("Check out all the cards!", cards_path) %></p>
                    
                        <div><p><%= link_to("Go to about page", about_path)%></p></div>
                    </div>
                    
        </div>
    </body>
</html>