<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div "ui card pokemon-card">
            <h1>Card info page for <%=@card.name %></h1>
            <div><h3>
            <img src=<%=@card.image_url%>><br>
            Rarity:<%= @card.rarity%><br>
            <% if @card.hp %>
            HP:<%= @card.hp %><br><% end %>
            <% if @card.national_pokedex_number %> 
            National Pokedex Number: <%= @card.national_pokedex_number%><br><% end %>
            <% if @card.evolves_from %>
            Evolves from:<%= @card.evolves_from %><% end %>
            </h3></div>
            <%= link_to("Go back to card index", cards_path)%>
        </div>
    </body>
</html>