<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Hi, <%= @trainer.name %>. </h1>

        <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
            <input type=submit value='logout'>
         <% end %>
        <div>
             <%= form_tag ({controller: 'trainers', action: 'pack_contents', method: 'post'}) do %>
            <input type=submit value='Open a pack'>
            <% end %>
        </div>
        <div>
            <%= link_to("Go back to welcome page", root_path) %>
        </div>
        <p> <%= link_to("Choose cards to trade!", trainers_mark_trades_path) %>
        </p>
        <div class='album'>
            <h2>Here is your card album!</h2><br>

            <% @all_cards_album.each do |card| %>

            <%= link_to(card.name, card_path(card))%>
            <% end %>
        </div>
        
        <div>
            <h2>Here are your cards for trade!</h2><br>
            <% @all_card_up_for_trade.each do |card| %>
                <%= card.display_card_name_from_binder %>
            <% end %>
            
        </div>
    </body>
</html>