<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Trainer Dashboard</h1><br>
        <h2>Hi, Trainer <%= @trainer.name %>. </h2>

        <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
            <input type=submit value='logout'>
         <% end %>
        <div>
             <%= form_tag ({controller: 'trainers', action: 'pack_contents', method: 'post'}) do %>
            <input type=submit value='Open a pack'>
            <% end %>
        </div>
        <div>
            <%= link_to("Go back to welcome page", root_path) %>
        </div>
        <p> <%= link_to("Choose cards to trade!", trainers_mark_trades_path) %>
        </p>
        <p><%= link_to("See all available trades", trades_path) %>
        </p>
        <p><%= link_to("See all trainers", trainers_path)%>
        </p>
        
        <div class='album'>
            <h2>Here is your card album!</h2><br>

            <div class="ui cards">
                <% @all_cards_album.each do |card| %>

                    <div class="ui card" id="pokemon-card">
                    <div class="image">
                        <%= image_tag(card.image_url) %>
                    </div>
                        <div class="ui button" id="pokemon-button">
                            <%= link_to "Check out my Stats", card_path(card) %>
                        </div>
                    </div>
                <% end %>
            </div>
                
        </div>

        <div>
            <h2>Here are your cards for trade!</h2><br>
            <div class="ui cards">
                    <% @all_card_up_for_trade.each do |card| %>
                        <div class="ui card" id="pokemon-card">
                            <div class="image">
                                <img src=<%= card.display_card_image_url_from_binder%>>
                            </div>
                            </div>
                    <% end %>
                </div>
            </div>
            
            <h2>Here are your offers!</h2>
            <div class="ui cards">
                    <% @pending_trades.each do |trade|%>
                        <div class="ui card" id="pokemon-card">
                        <% sender = Trainer.find_by(id: trade.sender_id) %>
                        <%= link_to sender.name, trainer_path(sender) %>
                        would like to trade their
                        <% offer = Offer.find_by(trade_id: trade.id) %>
                        <%= offer.offer_card.display_card_name_from_binder %>
                        for your 
                        <%= offer.base_card.display_card_name_from_binder %>
                        <%= form_with url: trades_accepted_trade_path do |f| %>
                        <%= hidden_field_tag :sender, sender.id %>
                        <%= hidden_field_tag :offer, offer.id %>
                        <%= hidden_field_tag :trade, trade.id %>
                    <input type=submit value='Accept this trade'>
                        <% end %>
                        <br><br>
                        </div>
                    <% end %>
                </div>
            </div>
            
        </div>
    </body>
</html>
