<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Select the cards you want to trade</h2><br>
        
        <%= link_to("Go back to your dashboard", trainers_home_path)%>

        <ul>
        <% @cards_in_binder.each do |card| %>

           <li><%= card.display_card_name_from_binder  %><br>
           Trade Status: 
            <% if card.for_trade == nil %>
            Not for trade 
            <% elsif card.for_trade == false %>
            Not for trade 
            <% elsif card.for_trade == true %>
            In trade pile 
            <% end %>
            <%=link_to("Edit this card", edit_card_binder_path(card)) %>
           

           <%= form_with model: card, url: trainers_mark_trades_for_trainer_path do |f| %>
                <%= radio_button_tag :for_trade, "1" %>
                <%= label_tag :for_trade, 'Trade' %>
                <%= radio_button_tag :for_trade, "0" %>
                <%= label_tag :for_trade, 'Not For Trade'%>
                <%= hidden_field_tag :cardbinder, card.id %>
            <input type=submit value='Update Trade Status'>
           <% end %>
           </li><br>
        <% end %>
        </ul>
    </body>
</html>