<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Trainer registration form</h1>
        <div>
        <%= form_for @trainer, controller:'trainers', action:'create' do |f|%>
            <%= f.label :name %><%= f.text_field :name %><br>
            <%= f.label :password %><%= f.password_field :password %><br>
            <%= f.label :password_confirmation %><%= f.password_field :password_confirmation%><br>
            <%= f.submit "Create" %>
        <% end %>
        </div>
        
    </body>
</html>